@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-brand-green: #6b9e54;
  --color-brand-green-light: #84b86c;
  --color-brand-green-dark: #538040;
  --color-brand-black: #000000;
  --color-brand-dark: #0a0a0a;
  --color-brand-gray: #141414;
}

body {
  background-color: var(--color-brand-black);
  color: #ffffff;
}
